@model InvoiceMicroServices.WebMVC.AdminDashboard.EmpModels.AddEducationalDetails

@{
    ViewData["Title"] = "AddNewEducationalDetails";
    Layout = "~/Views/Shared/PartialDashboardLayout.cshtml";
}

<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("_PartialEmployeeLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px">
            <form role="form" class="needs-validation" asp-action="EducationalDetails" asp-controller="EducationalDetails" novalidate>
                <div class="card" style="margin-top:10px">
                    <div class="row">
                        <div class="col-sm-11 col-12">
                            <h4 style="margin:20px 0px 20px 20px;color:gray;">Add Educational Details</h4>
                        </div>
                        <div class="col-sm-1 col-12">
                            <button type="button" class="btn btnColor btn-sm" onclick="location.href='@Url.Action("EducationalDetails", "EducationalDetails")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="level" class="control-label"></label>
                                <select asp-for="level" asp-items="@Model.levelList" class="form-control"></select>
                                <span asp-validation-for="level" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="type" class="control-label"></label>
                                <select asp-for="type" asp-items="@Model.typeList" class="form-control"></select>
                                <span asp-validation-for="type" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="stream" class="control-label"></label>
                                <select asp-for="stream" asp-items="@Model.streamList" class="form-control"></select>
                                <span asp-validation-for="stream" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="institute" class="control-label"></label>
                                <select asp-for="institute" asp-items="@Model.instituteList" class="form-control"></select>
                                <span asp-validation-for="institute" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="status" class="control-label"></label>
                                <select asp-for="status" asp-items="@Model.statusList" class="form-control"></select>
                                <span asp-validation-for="status" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="comments" class="control-label"></label>
                                <textarea asp-for="comments" class="form-control"></textarea>
                                <span asp-validation-for="comments" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left:20px;padding-bottom:15px">
                        <div class="col-sm-3">
                            <input type="submit" class="btn btnColor" value="Save" />
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

