@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.CompanyIndexViewModel

@{
    /**/

    ViewBag.Title = "CompanyInfo";

}
<link href="~/StyleSheet/DashboardPanel.css" rel="stylesheet" />


<div class="container-fluid" style="height:auto;background-color:none;">
    @*@{
            Html.RenderPartial("PartialLeftMenu");
        }*@
    <form role="form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
        <div class="card" style="margin-left:20px">
            <h4 style="margin:20px 0px 20px 20px;color:gray">Client Management</h4>
            <div class="form-row" style="margin-left:20px">
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.companyName, new { @for = "companyname" })
                        @Html.TextBoxFor(m => m.companyInfos.companyName, new { @class = "form-control", @placeholder = "Enter Compamy Name" })
                        @Html.ValidationMessageFor(m => m.companyInfos.companyName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.address, new { @for = "address1" })
                        @Html.TextBoxFor(m => m.companyInfos.address, new { @class = "form-control", @placeholder = "Enter Address1" })
                        @Html.ValidationMessageFor(m => m.companyInfos.address, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-sm-7">
                    <div class="form-group">

                        @Html.TextBoxFor(m => m.companyInfos.address2, new { @class = "form-control", @placeholder = "Enter Address2" })
                        @Html.ValidationMessageFor(m => m.companyInfos.address2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.companyInfos.address3, new { @class = "form-control", @placeholder = "Enter Address3" })
                        @Html.ValidationMessageFor(m => m.companyInfos.address3, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.gstNo, new { @for = "gstnumber" })
                        @Html.TextBoxFor(m => m.companyInfos.gstNo, new { @class = "form-control", @placeholder = "Enter GST Number" })
                        @Html.ValidationMessageFor(m => m.companyInfos.gstNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.phoneNo, new { @for = "phonenumber" })
                        @Html.TextBoxFor(m => m.companyInfos.phoneNo, new { @class = "form-control", @placeholder = "Enter phone Number", @type = "number" })
                        @Html.ValidationMessageFor(m => m.companyInfos.phoneNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.email, new { @for = "email" })
                        @Html.TextBoxFor(m => m.companyInfos.email, new { @class = "form-control", @placeholder = "Enter Email Address", @type = "email" })
                        @Html.ValidationMessageFor(m => m.companyInfos.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:3px;">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" style="margin:10px">Update</button>
                </div>
                <div class="col-sm-9">
                </div>
            </div>
        </div>
        <div class="card" style="margin-top:20px;margin-left:20px">
            <h4 style="margin:20px 0px 20px 20px;color:gray">Bank Details</h4>
            <div class="form-row" style="margin-left:20px">
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.bankDetails.name, new { @for = "name" })
                        @Html.TextBoxFor(m => m.companyInfos.bankDetails.name, new { @class = "form-control", @placeholder = "Enter Name" })
                        @Html.ValidationMessageFor(m => m.companyInfos.bankDetails.name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.companyInfos.bankDetails.accountNumber, new { @for = "accountnumber" })
                        @Html.TextBoxFor(m => m.companyInfos.bankDetails.accountNumber, new { @class = "form-control", @placeholder = "Enter Account Number" })
                        @Html.ValidationMessageFor(m => m.companyInfos.bankDetails.accountNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">

                        @Html.LabelFor(m => m.companyInfos.bankDetails.bankName, new { @for = "bankname" })
                        @Html.TextBoxFor(m => m.companyInfos.bankDetails.bankName, new { @class = "form-control", @placeholder = "Enter Bank Name" })
                        @Html.ValidationMessageFor(m => m.companyInfos.bankDetails.bankName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">


                        @Html.LabelFor(m => m.companyInfos.bankDetails.swiftCode, new { @for = "swiftcode" })
                        @Html.TextBoxFor(m => m.companyInfos.bankDetails.swiftCode, new { @class = "form-control", @placeholder = "Enter Swift Code" })
                        @Html.ValidationMessageFor(m => m.companyInfos.bankDetails.swiftCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:3px">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" style="margin:10px">Update</button>
                </div>
                <div class="col-sm-9">
                </div>
            </div>
        </div>
    </form>


</div>