@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.CrmIndexViewModel

@{

    ViewData["Title"] = "CRMDetails";
    Layout = "~/Views/Shared/PartialDashboardLayout.cshtml";

}

<link href="~/StyleSheet/DashboardPanel.css" rel="stylesheet" />
<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" method="Get" asp-action="GetClientListDetails" asp-route-selectedCstatus="@Model.selectedCstatus" asp-controller="CRMDetails" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:10px">
                    <div class="row">
                        <div class="col-sm-10 col-12">
                            <h4 style="margin:20px 0px 20px 20px;color:gray;">Client Details</h4>
                        </div>
                        <div class="col-sm-2 col-12">
                            <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("AddNewClient", "CRMDetails")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New
                            </button>
                        </div>
                    </div>

                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Client List</label>
                                <select asp-for="selectedCstatus" asp-items="@Model.clientStatusList" class="form-control">
                                    <option value="">Pick one</option>
                                </select>
                                <span asp-validation-for="selectedCstatus" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btnColor"  style="margin-top:30px" value="View" />
                        </div>
                        <div class="offset-4"></div>
                    </div>
                </div>
            </form>
            <form role="form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-sm-10 col-12">
                            <h4 style="margin:20px 0px 20px 20px;color:gray">Project Management</h4>
                        </div>
                        <div class="col-sm-2 col-12">
                            <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("AddNewProject", "CRMDetails")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New
                            </button>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Project List</label>
                                <select asp-for="selectedPstatus" asp-items="@Model.projectStatusList" class="form-control">
                                    <option value="">Pick one</option>
                                </select>
                                <span asp-validation-for="selectedPstatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btnColor" onclick="GetProjectList();" style="margin-top:30px">View</button>
                        </div>
                        <div class="offset-4"></div>
                    </div>
                </div>
            </form>
            <form role="form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:20px;">
                    <h4 style="margin:20px 0px 20px 20px;color:gray">Employee Time Sheet</h4>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label">Client List</label>
                                <select asp-for="clientId" asp-items="@Model.empClientList" class="form-control"></select>
                                <span asp-validation-for="clientId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label">Project List</label>
                                <select asp-for="projectId" asp-items="@Model.empProjectList" class="form-control"></select>
                                <span asp-validation-for="projectId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label">Employee List</label>
                                <select asp-for="employeeId" asp-items="@Model.employeeList" class="form-control"></select>
                                <span asp-validation-for="employeeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="yearId" class="control-label"></label>
                                <select asp-for="yearId" asp-items="@Model.yearList" class="form-control"></select>
                                <span asp-validation-for="yearId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="monthId" class="control-label"></label>
                                <select asp-for="monthId" asp-items="@Model.monthList" class="form-control"></select>
                                <span asp-validation-for="monthId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left:20px;padding-bottom:15px">
                        <div class="col-sm-3">
                            <input type="submit" onclick="location.href='@Url.Action("EmployeeTimeSheetView","CRMDetails")'" class="btn btnColor" value="View" />
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function GetClientList() {
            var selectedStatus = $("#selectedCstatus").val();
            if (selectedStatus == "1") {
                window.location.href = '@Url.Action("GetClientListDetails", "CRMDetails",new {status = "1" })';
            } else if (selectedStatus == "2") {
                window.location.href = '@Url.Action("GetClientListDetails", "CRMDetails",new {status = "2" })';
            } @*else {
                 window.location.href = '@Url.Action("CRMDetails", "CRMDetails")';
            }*@

        };
      function GetProjectList(){
            var selectedStatus = $("#selectedPstatus").val();

            if (selectedStatus == "1") {
                //alert(selectedStatus);
                window.location.href = '@Url.Action("GetProjectListDetails", "CRMDetails",new {status = "1" })';
            } else if (selectedStatus == "2") {
                window.location.href = '@Url.Action("GetProjectListDetails", "CRMDetails",new {status = "2" })';
            } @*else {
                 window.location.href = '@Url.Action("CRMDetails", "CRMDetails")';
            }*@

        };

        $('#clientId').change(function () {

            var selectedClient = parseInt($("#clientId").val());
            var Projectlist = $('#projectId');
            //alert(Projectlist);
            Projectlist.empty();

            if (selectedClient != null && selectedClient != '') {
                $.getJSON('@Url.Action("GetProjectNamesClientWise", "CRMDetails")', { clientId: selectedClient }, function (responses) {

                        if (responses != null && !jQuery.isEmptyObject(responses))
                        {
                            $.each(responses, function (index, response) {
                                Projectlist.append($('<option/>', {
                                    value: response.value,
                                    text: response.text,
                                }));
                            });
                        };
                    });

              }
        });

        $('#projectId').change(function () {

            var selectedProject = parseInt($("#projectId").val());
            var empList = $('#employeeId');
            empList.empty();

            if (selectedProject != null && selectedProject != '') {
                $.getJSON('@Url.Action("GetEmplist", "CRMDetails")', { pId: selectedProject }, function (responses) {

                        if (responses != null && !jQuery.isEmptyObject(responses))
                        {
                            $.each(responses, function (index, response) {
                                empList.append($('<option/>', {
                                    value: response.value,
                                    text: response.text,
                                }));
                            });
                        };
                    });

              }
            });
    </script>

}