@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.CrmIndexViewModel

@{

    ViewData["Title"] = "CRMDetails";
    Layout = "~/Views/Shared/PartialDashboardLayout.cshtml";
   
}

<link href="~/StyleSheet/DashboardPanel.css" rel="stylesheet" />
<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:10px">
                    <div class="row">
                        <div class="col-sm-10 col-12">
                            <h4 style="margin:20px 0px 20px 20px;color:gray;">Client Details</h4>
                        </div>
                        <div class="col-sm-2 col-12">
                            <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("AddNewClient", "CRMDetails")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New
                            </button>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Client List</label>
                                <select asp-for="client.status" asp-items="@Model.clientList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btnColor" onclick="GetClientList();" style="margin-top:30px">View</button>
                        </div>
                        <div class="offset-4"></div>
                    </div>
                </div>

                <div class="card" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-sm-10 col-12">
                            <h4 style="margin:20px 0px 20px 20px;color:gray">Project Management</h4>
                        </div>
                        <div class="col-sm-2 col-12">
                            <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("AddNewProject", "CRMDetails")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New
                            </button>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Project List</label>
                                <select asp-for="project.status" asp-items="@Model.projectList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btnColor" onclick="GetProjectList();" style="margin-top:30px">View</button>
                        </div>
                        <div class="offset-4"></div>
                    </div>
                </div>
                <div class="card" style="margin-top:20px;">
                    <h4 style="margin:20px 0px 20px 20px;color:gray">Employee Time Sheet</h4>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label">Client List</label>
                                <select asp-for="client.id" asp-items="@Model.empClientList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label  class="control-label">Project List</label>
                                <select asp-for="project.projectId" asp-items="@Model.empProjectList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label  class="control-label">Employee List</label>
                                <select asp-for="employee.employeeId" asp-items="@Model.employeeList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="year.yearId" class="control-label"></label>
                                <select asp-for="year.yearId" asp-items="@Model.yearList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="month.monthId" class="control-label"></label>
                                <select asp-for="month.monthId" asp-items="@Model.monthList" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left:20px;padding-bottom:15px">
                        <div class="col-sm-3">
                            <button type="button" onclick="location.href='@Url.Action("EmployeeTimeSheetView","CRMDetails")'" class="btn btnColor">View</button>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function GetClientList() {
            var selectedStatus = $("#client_status").val();
            if (selectedStatus == "1") {
                window.location.href = '@Url.Action("GetClientListDetails", "CRMDetails",new {status = "1" })';
            } else if (selectedStatus == "2") {
                window.location.href = '@Url.Action("GetClientListDetails", "CRMDetails",new {status = "2" })';
            } else {
                 window.location.href = '@Url.Action("CRMDetails", "CRMDetails")';
            }
            
        };
      function GetProjectList(){
            var selectedStatus = $("#project_status").val();
         
            if (selectedStatus == "1") {
                alert(selectedStatus);
                window.location.href = '@Url.Action("GetProjectListDetails", "CRMDetails",new {status = "1" })';
            } else if (selectedStatus == "2") {
                window.location.href = '@Url.Action("GetProjectListDetails", "CRMDetails",new {status = "2" })';
            } else {
                 window.location.href = '@Url.Action("CRMDetails", "CRMDetails")';
            }
            
        };

        $('#client_id').change(function () {

            var selectedClient = parseInt($("#client_id").val());
            var Projectlist = $('#project_projectId');
            //alert(Projectlist);
            Projectlist.empty();

            if (selectedClient != null && selectedClient != '') {
                $.getJSON('@Url.Action("GetProjectNamesClientWise", "CRMDetails")', { clientId: selectedClient }, function (responses) {
                   
                        if (responses != null && !jQuery.isEmptyObject(responses))
                        {
                            $.each(responses, function (index, response) {
                                Projectlist.append($('<option/>', {
                                    value: response.value,
                                    text: response.text,
                                }));
                            });
                        };
                    });

              }
        });

        $('#project_projectId').change(function () {

            var selectedProject = parseInt($("#project_projectId").val());
            var empList = $('#employee_employeeId');
            empList.empty();

            if (selectedProject != null && selectedProject != '') {
                $.getJSON('@Url.Action("GetEmplist", "CRMDetails")', { pId: selectedProject }, function (responses) {
                   
                        if (responses != null && !jQuery.isEmptyObject(responses))
                        {
                            $.each(responses, function (index, response) {
                                empList.append($('<option/>', {
                                    value: response.value,
                                    text: response.text,
                                }));
                            });
                        };
                    });

              }
            });
    </script>
    
    }