@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.UserManagement

@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/PartialDashboardLayout.cshtml";
}
<link href="~/StyleSheet/DashboardPanel.css" rel="stylesheet" />
<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="margin-top:10px">
                            <h4 style="margin:20px 0px 20px 20px;color:gray">Create User Account</h4>
                            <div class="form-row" style="padding-left:20px">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label asp-for="invoiceId" class="control-label"></label>
                                        <select asp-for="invoiceId" asp-items="@Model.employeeList" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <center style="padding-bottom:10px">
                                <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("UserAccountType", "UserManagement")'" >Create</button>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="margin-top:10px">
                            <h4 style="margin:20px 0px 20px 20px;color:gray">View User Account</h4>
                            <div class="form-row" style="padding-left:20px">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label asp-for="invoiceId" class="control-label"></label>
                                        <select asp-for="invoiceId" asp-items="@Model.employeeList" method="post" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <center style="padding-bottom:10px">
                                <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("ViewUserType", "UserManagement")'" >View</button>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top:10px;">
                    <h4 style="margin:20px 0px 20px 20px;color:gray;text-align:center">User Tokens</h4>
                    <div class="form-row" style="padding-left:20px;padding-right:20px">
                        <div class="col-sm-12">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="mb-1">Abhinav&nbsp;&nbsp;&nbsp;<small>3.9.2012 , 4:30pm</small></span>
                                        <button type="button" class="mb-1 btn btn-sm btnColor"  onclick="location.href='@Url.Action("ViewUserToken", "UserManagement")'">View</button>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="mb-1">Aruna&nbsp;&nbsp;&nbsp;<small>3.9.2012 , 4:30pm</small></span>
                                        <button class="mb-1 btn btn-sm btnColor">View</button>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="mb-1">Anusha&nbsp;&nbsp;&nbsp;<small>3.9.2012 , 4:30pm</small></span>
                                        <button class="mb-1 btn btn-sm btnColor">View</button>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="mb-1">Akshay&nbsp;&nbsp;&nbsp;<small>3.9.2012 , 4:30pm</small></span>
                                        <button class="mb-1 btn btn-sm btnColor">View</button>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="mb-1">Ravi&nbsp;&nbsp;&nbsp;<small>3.9.2012 , 4:30pm</small></span>
                                        <button class="mb-1 btn btn-sm btnColor">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
