
@{
    ViewData["Title"] = "PartialDashboardLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Dashboard</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar" style="background-color:#061c34;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-left" href="~/" style="font:300;font-style:oblique">
                    <img class="menulogo" alt="" />CompanyLogo
                </a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-right">
                    <form asp-controller="Account" asp-action="Signout" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <input class="btn btnColor" style="margin-top:11px;margin-bottom:11px;border-color: transparent;" type="submit" value="Logout" />
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <footer></footer>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script>
            $(document).ready(function () {

                    $('.element').click(function (e) {
                    e.preventDefault();
                    $('#exampleModalCenter').modal('show');
                        var id = $(this).data('id');
                        $('#deletionId').val(id);
                        getUrlVars();

                    });
                        var vars = [], hash;
                        function getUrlVars() {

                            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                            for (var i = 0; i < hashes.length; i++) {
                                hash = hashes[i].split('=');
                                vars.push(hash[0]);
                                vars[hash[0]] = hash[1];
                            }
                            return vars;
                        }
                    $('#delete').click(function () {
                        var deletionId = $('#deletionId').val();
                        var usertypeId = $('#userTypeId').val();

                        if (usertypeId != undefined) {
                            $.post('@Url.Action("Delete", "UserManagement")', {userId: deletionId }, function (data) {
                                // do something after calling delete action method
                                // this alert box just an example

                                $('#deletionSuccess').modal('show');
                                setTimeout(function () {
                                    $('#deletionSuccess').modal('hide');
                                }, 1500);

                                $('#exampleModalCenter').modal('hide');
                                
                                if (data != null && data == "user") {
                                    debugger;
                                    location.href = '@Url.Action("ViewUserList", "UserManagement")?userTypeId=' + usertypeId;
                                }
                            });
                        }
                        else {
                            $.post('@Url.Action("Delete", "Home")', { id: deletionId }, function (data) {
                            // do something after calling delete action method
                            // this alert box just an example
                                
                            $('#deletionSuccess').modal('show');
                            setTimeout(function () {
                                $('#deletionSuccess').modal('hide');
                            }, 1500);

                            $('#exampleModalCenter').modal('hide');

                            if (data !=null && data == "client") {
                                
                                location.href = '@Url.Action("GetClientListDetails", "CRMDetails")?selectedCstatus=' + getUrlVars()["selectedCstatus"];
                            }
                            if (data != null && data == "project") {
                                location.href = '@Url.Action("GetProjectListDetails", "CRMDetails")?selectedPstatus=' + getUrlVars()["selectedPstatus"];
                            }
                        if (data != null && data == "invoice") {
                            location.href = '@Url.Action("ViewInvoiceList", "Billing")?id=' + getUrlVars()["response"];
                            }
                          
                    });

                        }
                        

                    });
                    });
        </script>


    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>

