@model InvoiceMicroServices.WebMVC.AdminDashboard.Models.billingRate

@{
    ViewData["Title"] = "BillingRate";
}

<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <div class="card" style="min-height:220px;margin-top:10px;padding-left:10px;padding-right:10px">
                <div class="row">

                    <h4 style="margin:20px 0px 40px 20px;color:gray;">Billing Rate/Hour</h4>


                </div>

                @*<div class="form-row" style="padding-left:20px">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="@Model." class="control-label"></label>
                            <input asp-for="EmployeeName" class="form-control" />
                            <span asp-validation-for="EmployeeName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="RatePerHr" class="control-label"></label>
                            <input asp-for="@Model.RatePerHr" type="text" placeholder="Enter Rate" class="form-control" />
                            <span asp-validation-for="RatePerHr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label asp-for="@Model.CurrencyType" class="control-label"></label>
                            <input asp-for="@Model.CurrencyType" type="text" placeholder="Enter Currency Type" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">

                            <label asp-for="@Model.NoofHours" class="control-label"></label>
                            <input asp-for="@Model.NoofHours" type="text" placeholder="Enter No. Of Hours" class="form-control" />
                            <span asp-validation-for="NoofHours" class="text-danger"></span>
                        </div>
                    </div>

                </div>*@



                <div class="">
                    <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("InvoicePreview", "Billing")'">Next</button>
                    <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("billingmonth", "Billing")'">Back</button>
                </div>

            </div>
        </div>
    </div>
</div>