@model InvoiceMicroServices.WebMVC.AdminDashboard.Models.BillingInvoice

@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/PartialDashboardLayout.cshtml";
}
<link href="~/StyleSheet/DashboardPanel.css" rel="stylesheet" />
<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" asp-action="ViewInvoiceList" asp-controller="Billing" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="min-height:220px;margin-top:10px">
                            <h4 style="padding:20px 0px 20px 20px;color:gray">View Invoice List</h4>
                            <div class="form-row" style="padding-left:20px;">
                                <div class="col-sm-9" id="invoiceView">
                                    <div class="form-group">
                                        <label class="control-label">Invoice Category</label>
                                        <select asp-for="invoice" asp-items="@Model.invoiceList" class="form-control" id='invoiceListSelect'></select>
                                        <span asp-validation-for="invoice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="invoiceProjectList" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Project Name</label>
                                        <select asp-for="projectWise" asp-items="@Model.invoiceListProjectWise" class="form-control"></select>
                                        <span asp-validation-for="projectWise" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="invoiceClientList" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Client Name</label>
                                        <select asp-for="clientWise" asp-items="@Model.invoiceListClientWise" class="form-control"></select>
                                        <span asp-validation-for="clientWise" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="invoiceYearList" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Year</label>
                                        <select asp-for="yearWise" asp-items="@Model.invoiceListYearWise" class="form-control"></select>
                                        <span asp-validation-for="yearWise" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="invoiceMonthList" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Month</label>
                                        <select asp-for="monthWise" asp-items="@Model.invoiceListMonthWise" class="form-control"></select>
                                        <span asp-validation-for="monthWise" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <span class="text-danger" id="errMsg" style="display:none">please select one of the invoice filter</span>

                            <div class="col-sm-1">
                                <input type="submit" id="btnInvoice" class="btn btnColor"/>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="min-height:220px;margin-top:10px">
                            <h4 style="padding:20px 0px 20px 20px;color:gray">Generate Invoice</h4>

                            <div class="form-row" style="padding-left:80px;">
                                <div class="col-sm-9">
                                    <h5 style="font-size:21px;padding-bottom:10px">54 Hours are yet be billed</h5>
                                    <h6 style="font-size:11px;padding-bottom:20px">Click on generate button to generate invoice for the current month.</h6>
                                </div>
                            </div>
                            <center>
                                <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("Generateinvoice", "Billing")'">Generate</button>
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                $("#btnInvoice").click(function (e) {
                    e.preventDefault();
                    var selectedValue = $('#invoiceListSelect').val();
                    if (selectedValue == "0") {
                        $("#errMsg").show();
                        return;
                    } else {
                        $("#errMsg").hide();
                        return;
                    }
                });

                $('#invoiceListSelect').on('change', function () {
                    $("#errMsg").hide();
                    if (this.value == '1') {
                        $("#invoiceProjectList").show();
                        $("#invoiceClientList").hide();
                        $("#invoiceYearList").hide();
                        $("#invoiceMonthList").hide();
                        $('#invoiceView').removeClass('col-sm-9');
                        $('#invoiceView').addClass('col-sm-5');
                    }
                    else if (this.value == '2') {
                        $("#invoiceProjectList").hide();
                        $("#invoiceClientList").show();
                        $("#invoiceYearList").hide();
                        $("#invoiceMonthList").hide();
                        $('#invoiceView').removeClass('col-sm-9');
                        $('#invoiceView').addClass('col-sm-5');
                    }
                    else if (this.value == '3') {
                        $("#invoiceProjectList").hide();
                        $("#invoiceClientList").hide();
                        $("#invoiceYearList").hide();
                        $("#invoiceMonthList").show();
                        $('#invoiceView').removeClass('col-sm-9');
                        $('#invoiceView').addClass('col-sm-5');
                    }
                    else if (this.value == '4') {
                        $("#invoiceProjectList").hide();
                        $("#invoiceClientList").hide();
                        $("#invoiceYearList").show();
                        $("#invoiceMonthList").hide();
                        $('#invoiceView').removeClass('col-sm-9');
                        $('#invoiceView').addClass('col-sm-5');
                    }
                    else {
                        $("#invoiceProjectList").hide();
                        $("#invoiceClientList").hide();
                        $("#invoiceYearList").hide();
                        $("#invoiceMonthList").hide();
                        $('#invoiceView').removeClass('col-sm-5');
                        $('#invoiceView').addClass('col-sm-9');
                    }

                });

            });

    </script>
}
